<div style="padding: 30px">
  <div class="card" style="border: none;">
    <h4 class="card-header text-center font-weight-bold text-uppercase py-2">Update student</h4>
    <div class="card">
      <div class="card-body">
        <form #studentUpdate = "ngForm" (ngSubmit)="onUpdatestudent(studentUpdate.value)" class="form-horizontal">
          <div class="form-group">
            <label class="col-md-4">First Name</label>
            <input type="text" class="form-control" style="height: 30px" name="firstName" [(ngModel)]="studentService.editdata.firstName"/>
          </div>
          <div class="form-group">
            <label class="col-md-4">Last Name </label>
            <input type="text" class="form-control" style="height: 30px" name="lastName" [(ngModel)]="studentService.editdata.lastName"/>
          </div>
          <div class="form-group">
            <label class="col-md-4">Email Address </label>
            <input type="text" class="form-control"  style="height: 30px" name="emailAddress" [(ngModel)]="studentService.editdata.emailAddress"/>
          </div>
          <div class="form-group">
            <label class="col-md-4">Address</label>
            <input type="text" class="form-control" style="height: 30px" name="address" [(ngModel)]="studentService.editdata.address"/>
          </div>
          <div class="form-group">
            <label class="col-md-4">Phone Number</label>
            <input type="text" class="form-control" style="height: 30px" name="phoneNo" [(ngModel)]="studentService.editdata.phoneNo"/>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" >Update student</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
