<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Language Translator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="myapp" ng-controller="mycontroller" >
<div style="padding: 20px">
    <header >
        <h1 style="color: darkslategray;font-family: 'Comic Sans MS'"> <b>Language Translator</b></h1>
    </header>
    <div >
        <div class="row" style="padding: 5%">
            <div class="col-sm-5">
                <label style="color: darkslategray;font-family: 'Comic Sans MS';font-size: medium" for="SourceLanguage">Enter Text to convert</label>
                <textarea rows="10" class="form-control" id="SourceLanguage" style="font-size: medium">
            </textarea>
            </div>
            <div class="col-sm-2" style="text-align: center; padding-top: 30px;padding-bottom: 30px;">
                <div class="btn-group-vertical" role="group" ng-model="data1.model"style="width: 100%" aria-label="...">
                    <button type="button" ng-repeat="option in data1.availableOptions" class="btn btn-success" style="background-color: #337ab7"
                             ng-click="translate(option.id)"
                            value="{{option.id}}">{{option.name}}</button>
                </div>
               <!-- <button type="button" class="btn btn-success" ng-click="translate()">Translate</button>-->
            </div>
            <div class="col-sm-5">
                <label style="color: darkslategray;font-family: 'Comic Sans MS';font-size: medium" for="DestLanguage">Translated text</label>
               <!-- <select name="repeatSelect" id="destination" ng-model="data1.model" class="form-control">
                    <option ng-repeat="option in data1.availableOptions" value="{{option.id}}">{{option.name}}</option>
                </select>-->
                <textarea style="font-size: medium" class="form-control" rows="10" id="DestLanguage" >{{text}}</textarea>
            </div>
        </div>
    </div>
</div>
</body>
</html>
